.nav {
  margin: 21px 11px 0px 11px;
  padding-bottom: 10px;
  border-bottom: 1px solid $lightWhite;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
    margin: 18px 30px 0 30px;
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-image-container {
      a {
        display: flex;
        align-items: center;
      }
    }
    &-hamburger {
      cursor: pointer;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__menu {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: $appBg;

    @media screen and (min-width: 768px) {
      position: static;
      width: fit-content;
    }

    &-close {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 17px;
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 84px 54px 0 54px;

      @media screen and (min-width: 768px) {
        margin: 0;
        flex-direction: row;
        width: fit-content;
      }

      > li:first-child {
        @media screen and (min-width: 768px) {
          order: 5;
        }

        img {
          width: 45px;
          height: 45px;
          margin-right: 10px;
          @media screen and (min-width: 768px) {
            margin: 0;
          }
        }
      }

      &-item {
        list-style: none;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $lightWhite;
        padding: 12px 10px 12px 10px;
        max-width: 252px;
        width: 100%;
        cursor: pointer;

        @media screen and (min-width: 768px) {
          border: none;
          margin: 0;
          padding: 0;
        }

        img {
          width: 22px;
          height: 22px;
          margin-right: 22px;
        }

        &-link {
          color: $darkGray;
          font-family: "prox", sans-serif;
          @media screen and (min-width: 768px) {
            display: none;
          }
        }

        &-userDetails {
          @media screen and (min-width: 768px) {
            display: none;
          }
          h5 {
            font-size: 16px;
            font-family: "prox", sans-serif;
            font-weight: 900;
            margin-bottom: 3px;
          }
          p {
            color: $lightGray;
            font-family: "prox", sans-serif;
          }
        }
      }
    }
  }
}
