.tabs {
  display: flex;

  &-container {
    display: flex;
    margin: 0 10px;
    justify-content: space-between;
    border-bottom: 1px solid $lightWhite;
    @media screen and (min-width: 768px) {
      margin: 0 30px;
    }
  }

  &-li {
    font-size: 14px;
    line-height: 20px;
    padding: 2px 5px;
    list-style: none;
    margin-right: 5px;
    border: 1px solid #bdc3c2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
    font-family: "prox", sans-serif;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }

    &-active {
      background-color: #fff !important;
      color: $lightGreen !important;
    }
    &-internal {
      display: none;
      @media screen and (min-width: 768px) {
        display: block;
        margin-right: 0;
      }
    }
  }
}
